@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Montserrat", sans-serif;
}


/* loader animation */


.v{
    animation: v 1s infinite;
}
@keyframes v{
    0%{
       opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}

.b{
    animation: b 1s infinite;
}
@keyframes b{
    0%{
       opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

.pa{
    animation: pa 1s infinite;
}
@keyframes pa{
    0%{
       opacity: 0.5;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 2;
    }
}